.projects .projects-types{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects .projects-types ul.filters{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    background-color: #ddf4ff;
    border-radius: 20px;
}

.projects .projects-types .filters li{
    font-size: 15px;
    font-weight: bold;
    color: var(--dark-blue);
    padding: 4px 10px;
    cursor: pointer;
}

.projects .projects-types .filters li.active-filter,
.projects .projects-types .filters li:hover
{
    color: var(--main-blue);
}

.projects .projects-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.projects .projects-row .project{
    width: 286px;
    position: relative;
    overflow: hidden;
}

.projects .projects-row .project img{
    display: block;
    width: 100%;
    transition: all .5s ease-in-out;
}

.projects .projects-row .project .project-links{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    transform: translateY(40px);
    transition: all .5s ease-in-out;  
}

.projects .projects-row .project .project-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    width: 50%;
    height: 100%;
    text-align: center;
    background-color: var(--main-blue);
    opacity: .75;
    border-right: 1px solid #ddf4ff77;
}

.projects .projects-row .project .project-links a:last-of-type{
    border-right: 0;
}

.projects .projects-row .project .project-links a:hover{
    opacity: .9;
}

.projects .projects-row .project:hover img{
    opacity: .5;
}

.projects .projects-row .project:hover .project-links{
    transform: translateY(0);
}


/*********************/


@media(max-width:768px){

    .projects .projects-row .project{
        width: 350px;
    }

}


@media(max-width:500px){

    .projects .projects-row .project{
        width: 300px;
    }

}