.resume{
    height: calc(100vh - 70px);
}

.resume .btns{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.resume .btns a{
    width:120px;
    text-align: center;
    padding: 10px;
    color:#fff;
    background-color: var(--main-blue);
    border: 2px solid var(--main-blue);
    border-radius: 4px;
    letter-spacing: 1px;
}

.resume .btns a:hover{
    background-color:#fff;
    color: var(--main-blue);
}


/**********************/ 


@media (max-width: 560px){

    .resume{
        height: calc(100vh - 102px);
    }
  
}
