/*--------------------------------------------------------------
# aside
--------------------------------------------------------------*/
aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
    transition: all .7s ease-in-out;
  }
  
  aside .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f;
    border-radius: 50%;
  }
  
  aside .profile h1 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-align: center;
  }
  
  aside .profile h1 a,
  aside .profile h1 a:hover {
    color: #fff;
  }

  aside .profile .social-links{
    text-align: center;
    margin-top: 6px;
  }
  
  aside .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin: 3px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
  }
  
  aside .profile .social-links a:hover {
    background: #149ddd;
    color: #fff;
    text-decoration: none;
  }
  
  /* @media (max-width: 1199px) {
    aside {
      left: -300px;
    }
  
    #main {
      margin-left: 0;
    }
  
    .container,
    .container-fluid {
      padding-left: 12px;
      padding-right: 12px;
    }
  } */
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  .nav-menu {
    padding: 30px 0 0 0;
  }
  
  .nav-menu a{
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 6px;
    font-size: 16px;
  }

  .nav-menu li:last-of-type a{
    margin-bottom: 0px;
  }
  
  .nav-menu a i{
    color: #6f7180;
    font-size: 24px;
    padding-right: 8px;
    margin-top: 4px;
  }
  
  .nav-menu a.active,
  .nav-menu li:hover a {
    color: #fff;
  }
  
  .nav-menu a.active i,
  .nav-menu li:hover i {
    color: #149ddd;
  }

  @media (max-width: 992px){

    aside{
      left: -300px;
    }

    aside.open{
      left: 0;
    }

  }
