
/* main blue color = #149ddd */

.main{
  margin-left: 300px;
}

@media (max-width: 992px){

  .main{
    margin-left: 0;
  }

}

.special-heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.special-heading::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}
