

:root{
  --main-blue: #149ddd;
  --dark-blue: #173b6c;
}

/*************/

.main{
  margin-left: 300px;
}


@media (max-width: 992px){

  .main{
    margin-left: 0;
  }

}

/*************/

.container{
  padding: 60px 25px;
}

.special-container{
  padding: 14px 25px;
}


@media (max-width: 992px){

  .container{
      padding: 60px;
  }

  .special-container{
    padding: 14px 60px;
  }

}


@media (max-width: 480px){

  .container{
      padding: 60px 25px;
  }

  .special-container{
    padding: 14px 25px;
  }

}


/*************/


.special-heading {
  font-size: 32px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--dark-blue);
}

.special-heading::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: var(--main-blue);
  bottom: 0;
  left: 0;
}

.special-p{
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}
