
.menu-icons{
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 11;
    color:#fff;
    background-color: var(--main-blue);
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
  }

  .menu-icons .hidden{
    display: none;
  }

  @media (min-width: 993px){

    .menu-icons{
        display: none;
    }

  }

