.contact-home{
    background-color: #f5f8fd;
    padding: 60px 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-home h2{
    font-size: 32px;
    color: #173b6c;
}

.contact-home .btn{
    padding: 10px 26px;
    color:#fff;
    background-color: #173b6c;
    border: 2px solid #173b6c;
    border-radius: 4px;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bold;
}

.contact-home .btn:hover{
    background-color:#fff;
    color: #173b6c;
}


/**********************/


@media (max-width: 992px){

    .contact-home{
        padding: 60px;
    }

}


@media (max-width: 680px){

    .contact-home{
        flex-direction: column;
        gap: 30px;
    }

}


@media (max-width: 480px){

    .contact-home{
        padding: 60px 25px;
    }

    .contact-home h2{
        font-size: 24px;
    }

}