.contact-home{
    background-color: var(--grey-background);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-home h2{
    font-size: 32px;
    color: var(--dark-blue);
}

.contact-home .btn{
    padding: 10px 26px;
    color:#fff;
    background-color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    border-radius: 4px;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bold;
}

.contact-home .btn:hover{
    background-color:#fff;
    color: var(--dark-blue);
}


/**********************/


@media (max-width: 680px){

    .contact-home{
        flex-direction: column;
        gap: 30px;
    }

}


@media (max-width: 480px){

    .contact-home h2{
        font-size: 24px;
    }

}